.box{ width: 300px; }
.input{
	width: 254px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 34px;
}
#username{ background: url('../images/icon-user.png') center left 10px no-repeat; }
#password{ background: url('../images/icon-pass.png') center left 10px no-repeat; }

.btn{ width: 300px; }